<li class="collection-item">
  <% if (val.type === "img") { %>
  <img src="<%= val.data.url %>" alt="" srcset="" />
  <% } else { %>
  <video src="<%= val.data.url %>" controls autoplay></video>
  <% } %>

  <p><b>Uploaded at</b> : <%= val.data.createdAt %> <br /></p>
</li>
