<nav>
    <div class="nav-wrapper">
      <div class="brand-logo">File Uploading</div>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/files/upload">Upload Single File</a></li>
        <li><a href="/files/upload-many">Upload Multiple Files</a></li>
        <li><a href="/files/my-uploads">My Uploads</a></li>
      </ul>
    </div>
  </nav>