<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/css.ejs") %> 
    <title>404 - Not found</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <div class="container">
    <div class="card-panel red lighten-2">404 - This Service is not available</div>
</div>
    <%- include("./partials/js.ejs") %> 
</body>
</html>