<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/css.ejs") %> 
    <title>Document</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %> 
<div class="container">
    <ul class="collection col s6">
        <% if (data.length === 0) { %>
         No Files Uploaded
        
        <% } else { %>
            <% for( let index = 0; index < data.length; index++ ) { %>

                <%- include("./partials/fileLink.ejs", {val:data[index]}) %>
                
            <% } %>
        <% } %>
    
    </ul>
</div>
    <%- include("./partials/js.ejs") %> 
</body>
</html>