<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/css.ejs") %> 
    <title>Document</title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %> 
<div class="container">
    <%# Checking if no files found %> 
        <% if (fileData.length === 0) { %>
            <div class="card-panel red lighten-2 col s6">No Files Uploaded</div>
        <% } else { %>
            <ul class="collection col s6">
                <%# Looping Over the files %> 
            <% for( let index = 0; index < fileData.length; index++ ) { %>
                <%# This is a partial for creating links to files %> 
                <%- include("./partials/fileLink.ejs", {val:fileData[index]}) %>
                
            <% } %>
            </ul>
        <% } %>

</div>
    <%- include("./partials/js.ejs") %> 
</body>
</html>